---
title: "R Notebook"
author: "Jennifer"
output: html_notebook
---

### Load Data

In [ ]:
airbnb_data <- read.csv("Airbnb_Open_Data.csv", header = T, na.strings = "") # set "" to NA
airbnb_data

### Clean Data

#### Get corresponding response and predictor columns

In [ ]:
new_data <- subset(as.data.frame(airbnb_data), 
                   select = c(price, instant_bookable, room.type, Construction.year, 
                              service.fee, minimum.nights, review.rate.number, availability.365))

In [ ]:
head(new_data)
dim(new_data)

#### Remove rows that contains NA

In [ ]:
# Remove rows with NA values
clean_data <- na.omit(new_data)

In [ ]:
head(clean_data)
dim(clean_data)

#### Check if there are still any empty entries

In [ ]:
has_empty_entries <- sum(is.na(clean_data)) > 0
has_empty_entries

#### Get data summary

In [ ]:
summary(clean_data)

In [ ]:
mode(clean_data$Construction.year)
mode(clean_data$minimum.nights)

#### Convert random variables to appropriate data types

In [ ]:
columns_to_convert <- c("price", "service.fee")

for (col_name in columns_to_convert) {
  clean_data[, col_name] <- as.numeric(gsub("[^0-9.]", "", clean_data[, col_name]))
}

In [ ]:
# check summary again after conversion
summary(clean_data)

### Fit Model

In [ ]:
attach(clean_data)

In [ ]:
lm(price ~ instant_bookable + room.type + Construction.year +
   service.fee + minimum.nights + review.rate.number + availability.365)

### Check Assumptions

#### Residual Plots

#### Condition mean predictor and response